:root {
   --Red: hsl(0, 78%, 62%);
   --Cyan: hsl(180, 62%, 55%);
   --Orange: hsl(34, 97%, 64%);
   --Blue: hsl(212, 86%, 64%);

   --Very-Dark-Blue: hsl(234, 12%, 34%);
   --Grayish-Blue: hsl(229, 6%, 66%);
   --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
   font-size: 15px;
   background-color: var(--Very-Light-Gray);
   color: var(--Grayish-Blue);
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 50px 30px;
}

header {
   text-align: center;
}

header h2 {
   font-size: 34px;
   font-weight: 200;
   color: var(--Very-Dark-Blue);
}
header h3 {
   font-size: 34px;
   font-weight: 600;
   color: var(--Very-Dark-Blue);
}

header p {
   max-width: 507px;
   margin: 0 auto;
   margin-top: 15px;
}

.main {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 25px;
   margin-top: 60px;
}

.box {
   box-shadow: 0 0 20px 0;
   background-color: var(--Very-Light-Gray);
   border-radius: 7px;
   padding: 30px;
   text-align: right;
}

.box-text {
   text-align: left;
   padding-bottom: 50px;
}

.box-text .info {
   font-size: 20px;
   color: var(--Very-Dark-Blue);
   margin-bottom: 10px;
}

.box1 {
   border-top: 4px solid var(--Cyan);
}
.box2 {
   border-top: 4px solid var(--Red);
}
.box3 {
   border-top: 4px solid var(--Orange);
}
.box4 {
   border-top: 4px solid var(--Blue);
}

.box-container {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.box1,
.box4 {
   align-self: center;
}

@media only screen and (max-width: 768px) {
   .main {
      grid-template-columns: 1fr;
   }
}
@media only screen and (max-width: 425px) {
   body {
      font-size: 13px;
   }
   header p {
      width: 255px;
   }
   header h2 {
      font-size: 22px;
   }
   header h3 {
      font-size: 22px;
   }
   .box {
      padding: 20px;
   }

   .box-tex {
      padding-bottom: 30px;
   }
}
